*
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: Raleway;
    --ff-secondary: Source Code Pro;

    --fw-reg: 300;
    --fw-bold: 900;

    --color-light: #fff;
    --color-dark: #303030;
    --color-accent: #d3ffce;
    --color-emph: #ff7373;

    --fsizesitetitle: 48;
    --fsizemaintitle: 32;
    --fsizemainbody: 14;
}

@media (min-width: 600px) {
   .intro {
    vertical-align: top;
    width: min-content;
    height: 300px;
    margin-top: 0;
    margin: 0 auto;
    font-size: 22px;
    display: grid;
    grid-column-gap: 1em;
    grid-template-areas: 
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;
   } 

   #img {
    grid-area: img;
    min-width: 300px;
   }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

body {
    background: var(--color-accent);
    color: var(--color-dark);
    margin: 4;
    font-family: var(--ff-primary);
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

.intro {
    position: relative;
}

.nav {
    position: fixed;
    background: var(--color-dark);
    color: var(--color-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.navList {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navLink {
    font-family: Bebas Neue;
    color: var(--color-light);
    font-weight: var(--fw-bold);
    font-size: 54px;
    text-decoration: none;
}

.navLink:hover {
    color: steelblue;
}

.nav-toggle {
    height: 34px;
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1.5em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translate(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .icon {
    transform: rotate(0.5turn);
}

.nav-open .icon::after {
    opacity: 0;
}

.icon {
    display: block;
    position: relative;
}

.icon,
.icon::before,
.icon::after {
    background: steelblue;
    width: 3em;
    height: 3.5px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.icon::before,
.icon::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.icon::before {
    top: 8px;
}

.icon::after {
    bottom: 8px;
}

#title {
    font-size: 48px;
    text-align: center;
    font-family: Source Code Pro;
}

#title:hover {
    color: steelblue;
}

#personalIntro {
    text-align: center;
    font-family: Raleway;
    font-weight: var(--fw-reg);
}

strong {
    font-size: 44px;
    font-style: italic;
    font-weight: var(--fw-bold);
}

#personalIntro strong {
    display: block;
}

.aboutMe {
    font-family: var(--ff-primary);
}

.aboutmeIndiv > h3 {
    background-color: var(--color-emph);
}
